<h1>Mis paradas </h1>
<%= link_to 'Agregar otra parada', locations_path %>

<% @choices.each do |choice| %>
  <%= render :partial => 'locations/location_with_details', :object => choice.location, :locals => { :location => choice.location} %>
<% end %>

