
%section.choices.index
  %h1 Mis paradas

  %p
    = link_to 'Agregar otra parada', locations_path

  %p
    Your permanent url is 
    = link_to slug_url(:slug => session[:slug])

  - @choices.each do |choice|
    = render :partial => 'locations/location_with_details', :locals => { :location => choice.location, :choice => choice }
