
%section.choices.index
  %p.linkInfo.rounded
    Agrega esta página a tus favoritos para poder consultarla después

  - @choices.each do |choice|
    = render :partial => 'locations/location_with_details', :locals => { :location => choice.location, :choice => choice }
  %div.clear
  %p.buttonWrapper
    = link_to 'Agregar otra parada', locations_path, :class => 'boton large'
