
body
  background: #eee url(/images/bodybg.png) 0 -1px repeat-x
  margin-bottom: 50px

.roundedBottom
  -moz-border-radius-bottomleft: 10px
  -webkit-border-bottom-left-radius: 10px
  border-bottom-left-radius: 10px
  -moz-border-radius-bottomright: 10px
  -webkit-border-bottom-right-radius: 10px
  border-bottom-right-radius: 10px

.roundedTop
  -moz-border-radius-topleft: 10px
  -webkit-border-top-left-radius: 10px
  border-top-left-radius: 10px
  -moz-border-radius-topright: 10px
  -webkit-border-top-right-radius: 10px
  border-top-right-radius: 10px
  
.rounded
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-rounded: 5px

.container
  width: 380px
  margin: 0 auto
  
button.clean
  margin: 0
  padding: 0
  background: transparent
  border: none

  
button.boton, a.boton
  outline: none
  background: transparent url(/images/sprites.png) -153px 0 no-repeat
  padding: 0 0 5px 0
  margin: 0px 
  height: 38px
  border: 0px
  font-size: 14px
  width: 105px
  text-shadow: 0px 1px 1px #fff
  color: #222
  text-align: center
  font-weight: normal
  font-family: 'Lucida','Lucida Sans', Helvetica, Arial


a.boton
  display: block
  text-decoration: none
  height: 33px
  
button.boton:hover, a.boton:hover
  background-position: -153px -40px
  color: #000
  border: none

button.boton:active, a.boton:active
  outline: none
  background-position: -153px -80px
  text-shadow: 0px -1px 1px #fff
  
button.boton.large, a.boton.large
  width: 151px
  background-position: 0 0
  font-size: 13px
  line-height: 35px

button.boton.large:hover, a.boton.large:hover
  background-position: 0 -40px

button.boton.large:active, a.boton.large:active
  background-position: 0 -80px

.locations.index 
  h1
    display: none
  header
    h1
      display: block

p.introduction
  background: #000 url('/images/sprites.png') 0 -120px no-repeat
  width: 360px
  color: #ccc
  font-size: 15px
  padding: 10px 10px 30px 10px
  height: 60px
  line-height: 130% 
  margin-bottom: 3px
  strong
    color: #fff

input.text
  padding: 7px
  font-size: 13px
  background: #fff url(/images/textboxbg.png) top left no-repeat
  position: relative
  top: -3px

button.buscar
  position: absolute
  margin-left: 275px

.locations.index, .choices.index
  article.location
    position: relative
    margin: 20px 0px
    header
      display: block
      background: #000 url('/images/backgrounds/dark_gradient.png') 0 0 repeat-x
      text-transform: lowercase
      padding: 10px
      h1
        padding: 0px
        margin: 0px
        color: #fff
        font-size: 15px
        text-transform: lowercase
        padding: 0px 10px 
        font-weight: bold

.locations.index
  article.location
    cursor: pointer
    img
      display: block
      border: solid #ccc 1px
    .routes
      background-color: white
      -webkit-box-shadow: 0 1px 2px #bbb
      -moz-box-shadow: 0 1px 2px #bbb
      box-shadow: 0 1px 2px #bbb
      .route
        padding-top: 10px
        border-top: 1px solid #eeeeee
        font-size: 13px
        line-height: 120%
        .line
          padding: 0 0 15px 0px
          span
            padding: 0 0 0 15px
            color: #333
            font-weight: bold
        .description
          .label, .name
            float: left
          .label
            width: 40px
            text-align: right 
            padding-right: 4px
            color: #666
          .name
            overflow: hidden
            height: 20px
            text-transform: lowercase
            color: #999
    form
      button
        display: none
        font-weight: normal
        font-size: 13px
        color: #000
        font-family: Helvetica, Arial
  article.location:hover
    margin: 16px 0px 16px -4px
    border: 4px solid #8FB8E0
    background-color: #8FB8E0
    form
      button
        position: absolute
        display: block
        border: 0
        margin: 0
        bottom: 0
        right: 0
        background-color: #8FB8E0
        background-image: none
        font-size: 13px
        text-shadow: none
        width: 155px
        height: 30px

.choices.index
  article.location
    header
      button
        display: block
        position: absolute
        right: 3px
        top: 5px
        img
          width: 16px
          height: 16px
          opacity: 0.5
      button:hover
        img
          opacity: 1
    .routes
      background-color: white
      font-size: 13px 
      -webkit-box-shadow: 0 1px 2px #bbb
      -moz-box-shadow: 0 1px 2px #bbb
      box-shadow: 0 1px 2px #bbb
      .route
        border-top: 1px solid #eee
        padding: 8px 0px
      button
        height: 20px
        width: 22px
        margin: -2px 0px 0px 10px

      .lineDest
        line-height: 18px
        vertical-align: middle
        .line
          font-weight: bold
          color: #333
        .destination
          color: #999
          text-transform: lowercase
      .expected
        color: #666666
        font-size: 11px

header.layout
  background: transparent url(/images/footer.png) 0 -1px no-repeat
  padding:  7px 10px 0 0
  display: block
  a
    display: block
    height: 85px
    text-indent: -9999px
    width: 380px
p.empty
  font-size: 24px
  color: #999
  line-height: 130%

p.linkInfo
  background-color: #FFF2D6
  padding: 10px
  border-bottom: solid #ccc 1px
  
footer.layout
  margin-top: 50px
  
  
  
  
