#locations  {
  width: 400px;
  
}

div.location {
  border: 1px solid grey;
  margin: 0 10px 10px 0;
  padding: 0 10px 0 10px;
  overflow: auto;
  height: 1%;
}

div.location h2 {
  font-size: 12px;
}

div.location h2 span.code {
  font-size: 24px;
  width: 50px;
  display: inline-block;
  padding: 1px 5px;
  height: 30px;
  background-color: blue;
  color: white;
}

div.location h2 span.distance {
  color: #999;
}

#q {
  width: 384px;
  font-size: 28px;
  margin-bottom: 10px;
}