body {
  background: #eee url(/images/bodybg.png) 0 -1px repeat-x;
  padding: 0;
  margin: 0 0 50px 0;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 75%;
  line-height: 1.5; }

.container {
  width: 380px;
  margin: 0 auto; }

header.layout {
  background: transparent url(/images/footer.png) 0 -1px no-repeat;
  padding: 7px 10px 85px 0;
  display: block;
  text-align: right; }
  header.layout a {
    color: #09f; }


p.introduction {
  background: #000 url('/images/sprites.png') 0 -120px no-repeat;
  width: 360px;
  color: #ccc;
  font-size: 15px;
  padding: 10px 10px 30px 10px;
  height: 60px;
  line-height: 130%;
  margin-bottom: 3px; }
  p.introduction strong {
    color: #fff; }

form.search {
  margin: 0 0 20px 0;
  padding: 0; }
  form.search input {
    padding: 7px;
    font-size: 13px;
    background: #fff url(/images/textboxbg.png) top left no-repeat;
    border: 1px solid #c8c8c8;
    position: relative;
    width: 243px;
    margin: 0 10px 0 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-rounded: 5px; }
  form.search button {
    padding: 1px 0 0 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    background: transparent url(/images/sprites.png) -151px 0 no-repeat;
    width: auto;
    height: 40px;
    border: 0px;
    font-size: 14px;
    width: 107px;
    color: #000;
    text-align: center;
    font-weight: normal;
    text-shadow: 0px 1px 1px #fff; }
  form.search button:hover {
    background-position: -151px -40px; }
  form.search button:active {
    outline: none;
    background-position: -151px -80px; }

article.choices, article.results {
  display: block; }
  article.choices section, article.results section {
    display: block;
    margin: 0 0 30px 0; }
    article.choices section h1, article.results section h1 {
      -moz-border-radius-topleft: 10px;
      -webkit-border-top-left-radius: 10px;
      border-top-left-radius: 10px;
      -moz-border-radius-topright: 10px;
      -webkit-border-top-right-radius: 10px;
      border-top-right-radius: 10px;
      display: block;
      position: relative;
      padding: 6px 20px;
      margin: 0 0 0 0;
      background: #000 url('/images/backgrounds/dark_gradient.png') 0 0 repeat-x;
      font-size: 14px;
      text-transform: lowercase;
      color: #fff; }
      article.choices section h1 img, article.results section h1 img {
        position: absolute;
        top: -10px;
        right: -8px;
        padding: 2px 2px 2px 2px;
        border: 1px solid #ccc;
        background-color: #fff;
        width: 21px;
        height: 21px; }
    article.choices section img, article.results section img {
      vertical-align: bottom;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc; }

article.choices section h1 {
  color: #FC6; }

ul.routes {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: rgb(187, 187, 187) 0px 1px 2px; }
  ul.routes li {
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 4px 20px;
    line-height: 30px; }
    ul.routes li form {
      display: inline;
      overflow: auto; }
      ul.routes li form button {
        outline: none;
        border: none;
        cursor: pointer;
        padding: 4px 0 0 0;
        margin: 0 5px 0 0;
        width: 19px;
        height: 23px; }
    ul.routes li form.new_choice button {
      background: #fff url('/images/buttons/star_empty.png') 0 0 repeat-x; }
    ul.routes li form.choice button {
      background: #fff url('/images/buttons/star_selected.png') 0 0 repeat-x; }
    ul.routes li strong {
      font-size: 13px; }
    ul.routes li span {
      color: #999;
      text-transform: lowercase; }
    ul.routes li span.expected {
      float: right; }

p.empty {
  font-size: 24px;
  color: #999;
  line-height: 130%; }

p.linkInfo {
  background-color: #FFF2D6;
  padding: 10px;
  border-bottom: solid #ccc 1px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px; }
