body {
  background: #eee url(/images/bodybg.png) 0 -1px repeat-x;
  margin-bottom: 50px; }

.roundedBottom {
  -moz-border-radius-bottom-left: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottom-right: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.roundedTop {
  -moz-border-radius-top-left: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-top-right: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px; }

.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-rounded: 5px; }

.container {
  width: 380px;
  margin: 0 auto; }

button.clean {
  padding: 0px;
  margin: 0px;
  background: transparent;
  border: 0px; }

button.clean:hover {
  padding: 0px;
  background: transparent;
  border: 0px; }

.buttonWrap {
  float: left; }
  .buttonWrap button {
    outline: none;
    background: transparent url(/images/sprites.png) -151px 0 no-repeat;
    padding: 0px;
    margin: 0px;
    width: auto;
    height: 40px;
    border: 0px;
    font-size: 14px;
    width: 110px; }
    .buttonWrap button span.inside {
      color: #000;
      line-height: 22px;
      text-align: center;
      font-weight: normal;
      text-shadow: 0px 1px 1px #fff; }
  .buttonWrap button[type] {
    padding: 0px;
    border: 0px;
    line-height: 30px;
    outline: none; }

.buttonWrap:hover button {
  background-position: -151px -40px; }

.buttonWrap button:active {
  outline: none;
  background-position: -151px -80px; }

.locations.index h1 {
  display: none; }
.locations.index header h1 {
  display: block; }

p.introduction {
  background: #000 url('/images/sprites.png') 0 -120px no-repeat;
  width: 360px;
  color: #ccc;
  font-size: 15px;
  padding: 10px 10px 30px 10px;
  height: 60px;
  line-height: 130%;
  margin-bottom: 3px; }
  p.introduction strong {
    color: #fff; }

input.text {
  padding: 7px;
  font-size: 13px;
  background: #fff url(/images/textboxbg.png) top left no-repeat;
  position: relative;
  top: -3px; }

button.buscar {
  position: absolute; }

.locations.index article.location, .choices.index article.location {
  position: relative;
  margin: 20px 0px; }
  .locations.index article.location header, .choices.index article.location header {
    display: block;
    background: #000 url('/images/backgrounds/dark_gradient.png') 0 0 repeat-x;
    text-transform: lowercase;
    padding: 10px; }
    .locations.index article.location header h1, .choices.index article.location header h1 {
      padding: 0px;
      margin: 0px;
      color: #fff;
      font-size: 15px;
      text-transform: lowercase;
      padding: 0px 10px;
      font-weight: bold; }

.locations.index article.location {
  cursor: pointer; }
  .locations.index article.location img {
    display: block;
    border: solid #ccc 1px; }
  .locations.index article.location .routes {
    background-color: white;
    border-bottom: solid #ccc 1px; }
    .locations.index article.location .routes .route {
      padding-top: 10px;
      border-top: 1px solid #eeeeee;
      font-size: 13px;
      line-height: 120%; }
      .locations.index article.location .routes .route .line {
        padding: 0 0 15px 0px; }
        .locations.index article.location .routes .route .line span {
          padding: 0 0 0 15px;
          color: #333;
          font-weight: bold; }
      .locations.index article.location .routes .route .description .label, .locations.index article.location .routes .route .description .name {
        float: left; }
      .locations.index article.location .routes .route .description .label {
        width: 40px;
        text-align: right;
        padding-right: 4px;
        color: #666; }
      .locations.index article.location .routes .route .description .name {
        overflow: hidden;
        height: 20px;
        text-transform: lowercase;
        color: #999; }
  .locations.index article.location form button {
    display: none; }
.locations.index article.location:hover {
  margin: 16px 0px 16px -4px;
  border: 4px solid #8FB8E0;
  background-color: #8FB8E0; }
  .locations.index article.location:hover form button {
    position: absolute;
    display: block;
    border: 0px;
    margin: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #8FB8E0; }

.choices.index article.location header button {
  display: none; }
.choices.index article.location header:hover button {
  display: block;
  position: absolute;
  left: -19px;
  top: 4px; }
  .choices.index article.location header:hover button img {
    width: 16px;
    height: 25px; }
.choices.index article.location .routes {
  background-color: white;
  font-size: 13px; }
  .choices.index article.location .routes .route {
    border-bottom: 1px solid #eee;
    padding: 8px 0px; }
  .choices.index article.location .routes button {
    height: 20px;
    width: 22px;
    margin: -2px 0px 0px 10px; }
  .choices.index article.location .routes .lineDest {
    line-height: 18px;
    vertical-align: middle; }
    .choices.index article.location .routes .lineDest .line {
      font-weight: bold;
      color: #333; }
    .choices.index article.location .routes .lineDest .destination {
      color: #999;
      text-transform: lowercase; }
  .choices.index article.location .routes .expected {
    color: #666666;
    font-size: 11px; }

header.layout {
  background: transparent url(/images/footer.png) 0 -1px no-repeat;
  padding: 7px 10px 85px 0;
  display: block;
  text-align: right; }
  header.layout a {
    color: #09f; }

p.empty {
  font-size: 24px;
  color: #999;
  line-height: 130%; }
