<h1>Bus stops</h1>

<% form_for :location, :url => locations_path, :html => {:method => :get} do %>
  
  <%= text_field_tag 'q', params[:q] %> <label for='q'>(enter address or bus code)</label>
<% end %>

<div id='locations' class='list'>
  <%= render @locations %>
</ul>
