.locations.index

  %h1 Mis Paradas 

  %p.introduction
    MisParadas.com sirve para consultar el horario de los autobuses
    que más usas. Así no sufrirás las inclemencias del clima de Madrid.

  - if flash[:alert]
    .flash
    %p
      = flash[:alert]

  - form_for :location, :url => locations_url, :html => {:method => :get} do
    
    .span-6
      = text_field_tag 'q', params[:q] || "Muestráme paradas de autobus cerca de.." , :class => 'text span-6'

    = button_tag "Buscar", :type => 'submit'

  .span-8
    = render @locations

