.locations.index

  %h1 Mis Paradas 

  %p.introduction
    MisParadas.com sirve para consultar el horario de los autobuses urbanos de Madrid
    que m치s usas.

  - form_for :location, :url => locations_url, :html => {:method => :get} do
    
    .span-7
      = text_field_tag 'q', params[:q] || "Paradas de autobus cerca de.." , :class => 'text span-7 rounded'

    = button_tag "Buscar", :type => 'submit', :class => 'buscar'

  .span-8
    = render @locations

    = "<p class='empty'>No hemos encontrado paradas en la direcci칩n que has indicado. Revisa la sintaxis, y si crees que es correcta prueba a poner m치s informaci칩n, como calle, o plaza.</p>" if @locations.empty? && params[:q]

