.locations.index

  %h1 Mis Paradas 

  %p.introduction
    %strong
      Busca los horarios de la EMT Madrid<br />
    Escribe un número de parada o una dirección cercana a la parada que deseas utilizar

  - form_for :location, :url => locations_url, :html => {:method => :get} do
    
    .span-7
      = text_field_tag 'q', params[:q], :class => 'text span-7 rounded'

    = button_tag "Buscar", :type => 'submit', :class => 'buscar'

  .span-8
    = render @locations

    = "<p class='empty'>No hemos encontrado paradas en la dirección que has indicado. Revisa la sintaxis, y si crees que es correcta prueba a poner más información, como calle, o plaza.</p>" if @locations.empty? && params[:q]

