<h1>Bus stops</h1>

<% form_for :bus_stop, :url => bus_stops_path, :html => {:method => :get} do %>
  <label for='search'>Search by address</label>
  <%= text_field_tag 'address', params[:address] %>
  
  <!-- <label for='search'>Search by bus stop code</label> -->
  <%# text_field_tag 'code', params[:code] %>
  
<% end %>

<ul>
<%= render @bus_stops %>
</ul>
